.container{
    margin: 36px auto;
    width: 100%;
    max-width: 800px;
}

.heading{ color: #444;
    font-family: 'Leelawadee UI',
    sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 58px;
    margin: 0 0 58px; }


.container input{
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}
.search-icon {
    top: -10px;
    position: absolute;
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
